@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #CAFF4C;
  --purple: #A855F7;
  --purple-badge: #7C3AED;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff !important;
  color-scheme: light;
  color: #111111;
  font-family: 'Syne', sans-serif;
  overflow-x: hidden;
}